<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.sung.demo.democollections">

    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />

    <!-- IMChat -->
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.GET_TASKS" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.MODIFY_AUDIO_SETTINGS" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />

    <application
        android:name=".App"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity.CollectionList">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- iamge choose -->
        <activity
            android:name="me.nereo.multi_image_selector.MultiImageSelectorActivity"
            android:configChanges="orientation|screenSize"
            android:label="@string/activity_iamge_choose"
            android:screenOrientation="portrait" />
        <activity
            android:name=".PcitrueTAG.AddPictruieTag"
            android:label="@string/activity_pictrue_tag" />
        <activity
            android:name=".VideoAndBarrage.VideoPlay"
            android:label="@string/activity_video_barrge"
            android:launchMode="singleInstance" />
        <activity android:name=".PcitrueTAG.ImageBrowsing" />
        <activity
            android:name=".VideoAndBarrage.VideoViewPlay"
            android:launchMode="singleTask"
            android:screenOrientation="landscape" />
        <activity
            android:name=".VideoAndBarrage.VedioPlayLandscape"
            android:launchMode="singleInstance"
            android:screenOrientation="landscape" />

        <!-- CategoryTag -->
        <activity android:name=".CategoryTAG.CategoryTag" />
        <activity
            android:name=".CategoryTAG.PopwindowView"
            android:theme="@style/MyDialogStyle" />

        <!-- IMChat -->
        <activity android:name=".IMChat.view.ChatLogin" />
        <activity android:name=".IMChat.view.ChatMsgList" />
        <activity android:name=".IMChat.view.SingleChatAct" />
        <!-- 设置环信应用的AppKey -->
        <meta-data
            android:name="EASEMOB_APPKEY"
            android:value="91110105ma001jtb9k#nbp-merchant" />
        <!-- 声明SDK所需的service SDK核心功能 -->
        <service
            android:name="com.hyphenate.chat.EMChatService"
            android:exported="true" />
        <!-- 声明SDK所需的receiver -->
        <receiver android:name="com.hyphenate.chat.EMMonitorReceiver">
            <intent-filter>
                <action android:name="android.intent.action.PACKAGE_REMOVED" />

                <data android:scheme="package" />
            </intent-filter>
            <!-- 可选filter -->
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
                <action android:name="android.intent.action.USER_PRESENT" />
            </intent-filter>
        </receiver>

        <activity android:name="com.hyphenate.easeui.ui.EaseShowBigImageActivity" />
        <activity android:name="com.hyphenate.easeui.ui.EaseBaiduMapActivity" />
        <activity android:name="com.hyphenate.easeui.ui.EaseShowVideoActivity" />

        <!-- ShortVedioRecord -->
        <activity android:name=".ShortVedioRecord.ShortVedioRecord" />
        <activity
            android:name="mabeijianxi.camera.MediaRecorderActivity"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />
        <activity android:name=".ShortVedioRecord.VideoPlayerActivity"
            android:theme="@style/Theme.AppCompat.DayNight.NoActionBar"></activity>
    </application>

</manifest>